


:root {
    --BGCOLOR: #000000;
    --SECONDCOLOR: #00b9fc;
}

.dark-mode {
    --BGCOLOR: #000000;
    --SECONDCOLOR: #00b9fc;
}

.light-mode {
    --BGCOLOR: #ffffff;
    --SECONDCOLOR: #000080;
}

.about-section{
    width: 90%;
  /* border: 2px solid gray; */
  margin: 0px auto;
  padding: 0px 0.2rem;
  overflow-y: hidden;
}
.about-section h1{
    text-align: center;
    color: var(--SECONDCOLOR);
}
.about-section p{
    text-align:justify;
/* letter-spacing: 0.1rem; */
/* text-indent: 1rem; */
word-spacing:-0.1rem;
}
.intro{
    font-size: 1.1rem;
    font-weight: 500;
    /* text-align: center; */
    text-align:center;
    letter-spacing: 0.2rem;
    overflow: hidden;
    transition: all 1s linear;
    
    
    
}
.intro span {
    font-weight: 900;
    transition: all 1s linear;
    display: inline-block;
}

.showIntroSpan {
    transform: translateY(0%);
}
.closeIntroSpan{
    transform: translateY(-100%);
}

.myname{
    color: var(--SECONDCOLOR);
    text-transform: uppercase;
    font-weight: 700;
}
.myinfo{
    margin: 1rem 0px;
    box-shadow:inset 0px 0px 4px 0px var(--SECONDCOLOR);
    padding:1rem 0.5rem;
   
}

@media screen  and (min-width:600px){
    .about-section{
        width: 65%;
       margin-top: 2rem;
    }
}