


:root {
    --BGCOLOR: #000000;
    --SECONDCOLOR: #00b9fc;
}

.dark-mode {
    --BGCOLOR: #000000;
    --SECONDCOLOR: #00b9fc;
}

.light-mode {
    --BGCOLOR: #ffffff;
    --SECONDCOLOR: #000080;
}

.about-section{
    width: 90%;
  /* border: 2px solid gray; */
  margin: 0px auto;
  padding: 0px 0.2rem;
  overflow-y: hidden;
}
.about-section h1{
    text-align: center;
    color: var(--SECONDCOLOR);
}
.about-section p{
    text-align: justify;
}
.intro{
    text-align: center;
    /* font-family: cursive; */
    font-weight: 500;

    overflow: hidden;
    transition: all 1s linear;
    /* background-color: red; */
}
.intro span {
    font-weight: 900;
    transition: all 1s linear;
    display: inline-block;
}

.showIntroSpan {
    transform: translateY(0%);
}
.closeIntroSpan{
    transform: translateY(-100%);
}

