@import "tailwindcss";

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --BGCOLOR: #000000;
    --SECONDCOLOR: #00b9fc;
    --TEXTCOLOR:#aaaaaa;
  }
.dark-mode{
  --BGCOLOR:#000000;
  --SECONDCOLOR:#00b9fc;
}
.light-mode{
  --BGCOLOR:#ffffff;
  --SECONDCOLOR:#000080;

}
html{
  scroll-behavior: smooth;
}

body{
  background-color: var(--BGCOLOR);
  color: white;
  color: var(--TEXTCOLOR)

}

.navbar{

  width: 50%;
  margin-inline: auto;
  margin-top: 4rem; 
  margin-bottom: 1.5rem;
 display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.6rem;
  border-radius: 20px;

  box-shadow: inset 0px 0px 5px 3px var(--SECONDCOLOR);



    background-image: radial-gradient(circle farthest-corner at center top, hsla(196, 100%, 49%, 0.701) 0%, hsl(0, 0%, 0%) 40%);
    ;

    

}

.nav-btn{
  border: none;
  background-color: transparent;
  font-weight: 700;
 

  border-radius: 20px;
    padding:3px 10px;
  color:var(--SECONDCOLOR);
}

.nav-btn:hover,.nav-btn:focus{
    background-color: var(--SECONDCOLOR);
      border-radius: 20px;
      padding:2px 10px;
      font-weight: 700;
      color: var(--BGCOLOR);
}

@media screen and (min-width:600px){
  .navbar{
    width: 300px;
  }
  .about-skills{
display: grid;
grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  }
  .projects-contact{
display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  }
} */




:root{
  --BGCOLOR:white;
  --TEXTCOLOR:#000000;
  --BORDER:#414141;

}

.dark{
  --BGCOLOR:black;
  --TEXTCOLOR:GRAY;
  --BORDER:#5f5f5f;
}

@theme{
--color-bgColor:var(--BGCOLOR);
--color-textOne:var(--TEXTCOLOR);
--color-borderOne:var(--BORDER);




}


.opacity-animate{
  animation: opacityAnimate 2s linear 0s infinite;
  animation-direction:alternate ;
}

@keyframes opacityAnimate {
  0% {
      opacity: 1;
  }

  50% {
      opacity: 0.7;
  }

  100% {
      opacity: 0.5;
  }
}